<!-- 用户 -->
<html xmlns:th="http://www.thymeleaf.org">
<div id="user">
  <div>
  <form class="form-inline">
  <div class="form-group">
	<select name="city" id="" class="form-control">
		 <option value="">请选择用户角色类型</option>
        <option value="0">管理员</option>
        <option value="1">高管</option>
        <option value="1">部门主管</option>
        <option value="2">客户经理</option>
	</select>
  </div>
  <input class="btn btn-default search" type="button" value="查询">
  <input class="btn btn-default" type="reset" value="重置">
  <input class="btn btn-default" type="button" value="新增" id="add">

</form>
</div>

<div>
	<table class="table table-hover">
		 <thead>
		    <tr style="background:#E8E8E8;">
		      <th>序号</th>
		      <th>用户名</th>
		      <th>角色名</th>
		      <th>状态</th>	 
			  <th>操作</th>
		    </tr> 
		  </thead>

		<tbody th:each="u:${session.users}">
		<tr>
			<td th:text="${u.id}">1</td>
			<td th:text="${u.name}">经理</td>
			<td th:text="${u.role.name}" name="role">这是一个经理用户,啦啦啦啦</td>
			<td th:if="${u.flag eq 1}">正常</td>
			<td th:if="!${u.flag eq 1}">注销</td>
			<td>
				<i  class="layui-icon layui-icon-edit editUser"></i>
				<i  class="layui-icon layui-icon-delete deleteUser"></i>
			</td>
		</tr>
		</tbody>
    </table>
</div>
<div class="fenye">
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    <li class="active"><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">下一页</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
<!-- 删除模态框 -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog"  style="width:350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">是否确定删除</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 新增模态框 -->
<div class="modal"  id="toAdd">
  <div class="modal-dialog" style="height:400px;overflow:auto;">
    <div class="modal-content">
       <form>
					<div class="modal-body">
						<div class="form-group">
							<label>用户名:</label>
							<input type="text" name="name" class="form-control">
						</div>
						<div class="form-group">
							<label>密码:</label>
							<input type="password" name="password" class="form-control">
						</div>
						<div class="form-group">
							<label>角色:</label>
							<select id="role_id" class="form-control">
						            <option value="">请选择用户角色类型</option>
							        <option value="1">管理员</option>
							        <option value="2">高管</option>
							        <option value="3">部门主管</option>
							        <option value="4">客户经理</option>
							</select>
						</div>
						<div class="form-group">
							<label>状态:</label>
							<select name="flag" id="" class="form-control">
						        <option value="1">正常</option>
						        <option value="2">注销</option>
							</select>
						</div>
					</div>
				</form>
				<div class="modal-footer">
				    <button class="btn" style="background:#ccc">取消</button>
					<button class="btn btn_saveuser" style="background:#ccc">保存</button>
				</div>
    </div>
  </div>
</div>

</div>
<style>
#user{
	width: 1140px;
	overflow: hidden;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ccc;
    border-color: #ccc;
}
.pagination > li > a, .pagination > li > span {
    color: black;
}
.fenye{
	margin-left: 400px;
}
	.form-inline{
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
	.search{
		margin-left: 50px;
	}
	#add{
		margin-left: 680px;
	}
	.table th,td{
		text-align: center;
	}
	#deleteModal{
		margin-top: 100px;
	}
	#toAdd{
		margin-top: 50px;
	}
</style>
<script type="text/javascript">
	$(function(){
		var id;
		// 显示删除模态框
		$('.deleteUser').click(function(){
			$('#deleteModal').show();
			id = $(this).parent().parent().children().first().text().trim();
		})
		// 关闭删除模态框
		$('.close').click(function(){
			$('#deleteModal').hide();
			id = ""
		})
		// 关闭删除模态框
		$('.btn-default').click(function(){
			$('#deleteModal').hide();
			id = ""
		})
		// 确定删除
		$('.btn-primary').click(function(){
			$('#deleteModal').hide();
			$.get("deleteUser", {user_id: id}, function (data) {
				if(data == "success"){
					$("#user").load("toUser");
				}else{
					alert(data);
				}
			})
			id = "";
		})
		// 点击新增显示模态框
		$('#add').click(function(){
			$('#toAdd').show();
		})
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
				$('#toAdd').hide();
		})
		// 新增模态框保存
		$('.btn_saveuser').on('click',function(){
			$("#toAdd").hide();
			var userName = $("input[name='name']").val();

			var password = $("input[name='password']").val();
			var flag = $("select[name='flag'] option:selected").val();
			var role_id = $("#role_id option:selected").val();
			if(name=""||password==""||flag==""||role_id==""){
				alert("提交失败，不能为空")
				return;
			}
			$.post("saveUser", {id: id, "name": userName,password: password,flag: flag,"role.id":role_id}, function (data) {
				if(data == "success"){
					$('#user').load('toUser');
					//重新点击选择事件
					// $("").trigger("click");
				}else{
					alert(data);
				}
			})
			id = "";
		})
		// 点击编辑显示模态框
		$('.editUser').click(function(){
			$('#toAdd').show();
			id = $(this).parent().parent().children().first().text().trim();
			var value = $(this).parent().siblings("[name=role]").text().trim();
			$("#role_id option").each(function() {
				if($(this).text() == value){
					$(this).prop("selected", "selected");
					return false;
				}
			})
		})
		// 查询
		$('.search').click(function(){
			alert('查询');
		})
	})
</script>
</html>